body{
	color: black;
	background-color:#F7F5EC;
	font-size:18px;
	font-family:"Segoe UI", DengXian, "Microsoft MHei", sans-serif;
	font-weight:200;
	letter-spacing:2px;
}

a{
	color:#3A6FFF;
	text-decoration:none;
}

a:hover{
	color:#4A12E5;
}

p:{
	font-size:1rem;
}

h1{
	font-weight:400;
	}

h2{
	letter-spacing:3px;
	font-weight:300;
}

.navigation, #writebox{
	font-size:1rem;
	background-color:#EEE9E2;
	margin:0;
	padding:0 2px;
	display:inline;
	
	font:inherit;
	font-size: 0.8em;
	letter-spacing:inherit;
	
	border:none;
	border-right: 2pt solid #294EB2;
	border-left: 2pt solid #294EB2;
	
	transition: background-color 0.8s, border-color 0.3s;
	-webkit-transition: background-color 0.8s, border-color 0.3s;
}

#writebox{
	margin-bottom:8px;
}

.navigation:focus, .navigation:hover{
	border-color:#3A6FFF;
	background-color:#CAE4FF;
}

.navigation:a {
	color:black;
}

#writebox:focus{
	border-color:#3A6FFF;
	
}

img.art{
	max-width:90%;
	max-width:90%;
}

.blerb{
	margin-top:5px;
	padding-bottom:30px;
	width:65%;
	min-width:450px;
}

div#navbox{
	margin: 0px auto;
	width:150pt;
}

#content {
	border-right: 2px solid #294EB2;
	border-left: 2px solid #294EB2;
	width:85%;
	max-width:2000px;
	min-width:200px; 
	margin:auto; 
	padding:5px 30px 10px;
	overflow:hidden;
	position:relative;
	z-index:1;
}

#content:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border:inherit;

}

.banner{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

#header {
	margin-bottom:8px;
	height:3em;
}

a #header {
	color:black;
	text-decoration:none;
	letter-spacing:3px;
}

#footer {
	margin-top:8px;
}

span.validate{
	color:red;
	display:none;
	padding-left:6px;
}

.sub{
	float:left;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.right{
	float:right;
}

#results, #preview{
	padding-top:40px;
	padding-left:40px;
}
#results{
	display:none;
}
